
@{
    Layout = "_Layout";
}

<h1> Contact Us Page</h1>
<img src="~/images/PHOENIX-logo-100px.png" class="logo" />

<img src="~/MyStaticFiles/team-work2-sm.jpg" />
<input type="button" value="click me" class="btn btn-danger" />